*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container-principal {
    width: 1980px;
    height: 1080px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    background-image: url("./img/evafondo.jpg");
    max-width: 100%;
    
}


